.big-text {
  color: #fff;

  /* Web/Heading/Heading 1/bold */
  font-family: Chakra Petch;
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 73.2px */
  text-align: left;
  align-self: center;
}
.image-land img {
  height: 100%;
  width: 100%;
}
.small-text {
  color: var(--v-2-nobel, #b6b6b6);

  /* Web/Heading/Heading 5/bold */
  font-family: Chakra Petch;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 73.2px */
  text-align: left;
  align-self: center;
}
.sec {
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.img-app-store {
  text-align: left;
}
.img-app-store img {
  width: 35%;
  height: 15%;
}
