.footer {
  align-self: self-start;
  align-content: start;
  text-align: left;
  padding-left: 145px;
}
/* Update the CSS for social icons */
/* Update the CSS for social icons */
.social {
  display: flex;
  align-items: center;
  width: 35%;
  padding-right: 24px;
}
/* Update the CSS for social icons */
/* .social {
  display: flex;
  align-items: center;
}

.social a {
  display: inline-flex; /* Change to inline-flex to avoid extra spacing */
.social {
  padding: 15px 20px;
  align-items: start;
  text-align: left;
}
a.social {
  margin: 0 -3rem;
  transition: transform 100ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
.logo-white {
  width: 10%;
}
.social img {
  margin-right: 10px; /* Adjust the space between icons */
}
.email {
  color: #fff;
  text-align: left;
  /* Web/Body/Base/regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
a {
  color: #fff;
}
a:hover {
  color: red;
  text-decoration: none;
}
.footer-links {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  text-decoration-line: underline;
}
.copyright {
  color: var(--neutral-d-9-d-9-d-9, #d9d9d9);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
