.container {
  position: relative;
  text-align: center;
  color: white;
}
.vibe {
  color: var(--neutral-ffffff, #fff);
  text-align: center;

  /* Web/Heading/Heading 2/bold */
  font-family: Chakra Petch;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 58.8px */
  align-self: center;
  align-content: center;
  top: -10%;

  transform: translate(0%, -50%);
}
.glow {
  width: 361px;
  height: 361px;
  flex-shrink: 0;
  border-radius: 361px;
  background: var(--less-hot-pink-ff-4-e-98, #ff4e98);
  filter: blur(250px);
}
.grad {
  background: var(
    --HotToCold-horizon,
    linear-gradient(90deg, #ff4291 0%, #b0bdff 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: Chakra Petch;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 58.8px */
  text-decoration-line: underline;
}
.center {
  text-align: center;
  align-self: center;
  align-content: center;
  transform: translate(50%, 0%);
}
.vibe-pic {
  display: flex;
  width: 240px;
  height: 240px;
  padding: 62px 33.933px 62.151px 34px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
}
.box1 {
  display: flex;
  width: 240px;
  height: 240px;
  padding: 62px 33.933px 62.151px 34px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  text-align: center;
  color: white;
  border-radius: 40px;
  background: rgba(90, 90, 90, 0.4);
  backdrop-filter: blur(20px);
  transform: translate(50%, 70%);
}
.img {
  width: 172.067px;
  height: 75.849px;
  flex-shrink: 0;
  transform: translate(90%, 30%);
}
.img2 {
  width: 80px;
  height: 80px;
  align-self: center;
  align-content: center;
  transform: translate(0%, 70%);
}
.text {
  color: #fff;
  text-align: center;

  /* Web/Body/Base/bold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  transform: translate(0%, 500%);
}
.feature-box {
  width: 240px;
  height: 240px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background: rgba(90, 90, 90, 0.4);
  backdrop-filter: blur(20px);
}

.feature-section {
  width: 100%;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3vh 0 10vh 0;
  gap: 60px;
}
